{% extends "articlepulsehub.view.layout.html" %}

{% block featured %}

    {{ include('articlepulsehub.view.featured.html', {}, with_context: true) }}

{% endblock %}

{% block call_action %}

    {{ include('articlepulsehub.view.call_to_action.html', {}, with_context: true) }}

{% endblock %}

{% block body %}

    {% set popular_articles = popular_articles() %}

    {% if popular_articles %}

        <section class="blog-posts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="all-blog-posts">
                            <div class="row">
                                {% for article in popular_articles %}
                                <div class="col-lg-12">
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ file_uri(article.get('content_articles_field_cover_image').0) }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ term(article.get('content_articles_field_category').0).label }}</span>
                                            <a href="{{ url('system.structure.content.node',{nid: article.nid}) }}"><h4>{{ article.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="{{ url('services.account.view', {uid: article.getOwner.uid}) }}">{{ article.getOwner.getProfile.getFirstName }}</a></li>
                                                <li><a href="#">{{ article.getUpdated|date('F d, Y') }}</a></li>
                                                <li><a href="{{ url('system.structure.content.node',{nid: article.nid}) }}#comments">{{ article.get('content_articles_field_comments')|count }} Comments</a></li>
                                            </ul>
                                            <p> {{ article.get('content_articles_field_body').0|striptags|u.truncate(342, '...', false) }}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            {% set tags = blog_terms(article.get('content_articles_field_tags')) %}

                                                            {% for tag in tags %}
                                                            <li><a href="{{ url('services.articles.tag', {name: tag.name}) }}">{{ tag.label }}</a>,</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li>
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.http.getSchemeAndHttpHost }}{{ url('system.structure.content.node',{nid: article.nid})}}"
                                                                   target="_blank"
                                                                   rel="noopener noreferrer">
                                                                    Facebook</a>,
                                                            </li>
                                                            <li>
                                                                <a href="https://twitter.com/intent/tweet?url={{ request.http.getSchemeAndHttpHost }}{{ url('system.structure.content.node',{nid: article.nid})}}&text={{ article.title }}"
                                                                   target="_blank"
                                                                   rel="noopener noreferrer">
                                                                    Twitter</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="blog.html">View All Posts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        {{ include('articlepulsehub.view.sidebar.html', {}, with_context: true) }}
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

{% endblock %}